<template>
  <section id="Movies">
      <v-container>
          <h1>Latest Released</h1>
          <v-layout wrap>
              <v-flex lg2 sm3 xs6 pa-2 v-for="(movie, index) in movies" :key="movie.index">
                  <div v-if="adaptivePagination(index)" class="item" @click="openPopup(movie, index)">
                      <img class="img-movie" :src="'http://image.tmdb.org/t/p/w342/' + movie.poster_path" :alt="movie.original_title">
                  </div>
              </v-flex>
          </v-layout>
          <!-- {{this.$store.state.movies}} -->
          <div class="text-xs-center">
            <v-pagination
              color="#fff"
              v-model="$store.state.page"
              @input="updatePage()"
              :length="$store.state.total_pages"
              :total-visible="7"
            ></v-pagination>
          </div>
      </v-container>
      <popup-movie v-if="$store.state.moviePopup"></popup-movie>
  </section>
</template>

<script>
import PopupMovie from '../components/PopupMovie'

export default {
  components: {
    PopupMovie
  },
  methods: {
    openPopup (movie, index) {
      this.$store.state.indexSelectedMovie = index
      this.$store.state.selectedMovie = movie
      this.$store.state.moviePopup = true
    },
    updatePage () {
      this.$store.dispatch('getDataMovies')
    },
    adaptivePagination (index) {
      if (index <= 17) {
        return true
      } else {
        if (window.innerWidth <= 1260) {
          return true
        } else {
          return false
        }
      }
    }
  },
  computed: {
    movies () {
      return this.$store.state.movies
    }
  },
  mounted () {
    this.$store.dispatch('getDataMovies')
  }
}
</script>

<style lang="scss" scoped>
.item{
  cursor: pointer;
}
.img-movie{
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 10px #333;
}
@media(max-width:480px){
.img-movie{
  height: 300px;
}
}
@media(max-width:380px){
.img-movie{
  height: 220px;
}
}
</style>
