<template>
    <header style="background-color:#505050">
        <v-container py-0>
            <v-layout align-center py-3>
                <v-flex xs3>
                    <router-link to="/" class="logo">
                        <span class="text">Movies</span>
                    </router-link>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs3 style="display: flex; justify-content: flex-end">
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn
                                class="menu-header"
                                v-on="on"
                                >
                                My Account
                                <i class="material-icons">
                                    keyboard_arrow_down
                                </i>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-tile
                            v-for="(item, index) in items"
                            :key="index"
                            >
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                        </v-menu>
                </v-flex>
            </v-layout>
        </v-container>
    </header>
</template>

<script>
export default {
  data: () => ({
    items: [
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me 2' }
    ]
  })
}
</script>

<style lang="scss" scoped>
.logo{
    text-decoration: none;
    .text{
        color: #fff;
        font-size: 20px;
    }
}
.menu-header{
    background-color: transparent !important;
    border: 1px solid #fff;
    color: #fff;
    padding-right: 7px;
    margin-right: 0;
}
.v-btn__content{
    text-transform: capitalize;
}
</style>
