<template>
    <div class="popup-movie">
        <div class="back-image" :style="{backgroundImage: 'url(http://image.tmdb.org/t/p/w342' + $store.state.selectedMovie.backdrop_path + ')'}">

        </div>
        <v-container class="popup-content">
            <v-layout pt-3 pb-5>
                <v-flex sm3>
                    <div class="back-to-list" @click="closePopup()">
                        <i class="material-icons">
                            keyboard_arrow_left
                        </i>
                        <span>Back to list</span>
                    </div>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex sm3>
                    <div class="next-movie" @click="nextMovie()">
                        <span>Next Movie</span>
                        <i class="material-icons">
                            keyboard_arrow_right
                        </i>
                    </div>
                </v-flex>
            </v-layout>
            <v-layout wrap>
                <v-flex xl3 lg4 sm6 xs12 offset-xl1 class="mobile-top">
                    <div class="image-movie">
                        <img :src="'http://image.tmdb.org/t/p/w342' + $store.state.selectedMovie.poster_path" alt="">
                    </div>
                    <div class="assessment--mobile">
                        <span>Score: <br/> {{this.$store.state.selectedMovie.vote_average}}</span>
                        <span>Raiting: <br/> {{this.$store.state.selectedMovie.vote_average}}</span>
                        <span>Release Date: <br/> {{this.$store.state.selectedMovie.release_date}}</span>
                    </div>
                </v-flex>
                <v-flex xl7 lg8 sm6 xs12 align-self-center>
                    <div class="info-movie">
                        <h2 class="title-movie">{{this.$store.state.selectedMovie.title}} ({{yearMovie}})</h2>
                        <div class="assessment">
                            <span>Score: {{this.$store.state.selectedMovie.vote_average}}</span>
                            <span>Raiting: {{this.$store.state.selectedMovie.vote_average}}</span>
                            <span>Release Date: {{this.$store.state.selectedMovie.release_date}}</span>
                        </div>
                        <div class="description-movie" v-html="$store.state.selectedMovie.overview"></div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
export default {
  methods: {
    closePopup () {
      this.$store.state.moviePopup = false
      this.$store.state.selectedMovie = null
    },
    nextMovie () {
      this.$store.state.indexSelectedMovie += 1
      this.$store.state.selectedMovie = this.$store.state.movies[this.$store.state.indexSelectedMovie]
    }
  },
  computed: {
    yearMovie () {
      var str = this.$store.state.selectedMovie.release_date
      return parseInt(str.match(/\d\d\d\d/))
    }
  }
}
</script>

<style lang="scss" scoped>
.popup-movie{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaea;
    min-height: 100vh;
    z-index: 10;
}
.back-image{
    position: absolute;
    top: -2%;
    left: -2%;
    width: 104%;
    height: 104vh;
    background-size: cover;
    background-position: 50% 0%;
    filter: blur(10px);
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);

    }
}
.popup-content{
    position: relative;
    z-index: 2;
}
.back-to-list, .next-movie{
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    i{
        border-radius: 50%;
        border: 1px solid #fff;
    }
    span{
        padding: 0 20px;
    }
}
.next-movie{
    justify-content: flex-end;
}

.image-movie{
    img{
        box-shadow: 0 0 12px 0 #000;
    }
}
.info-movie{
    color: #fff;
}
.title-movie{
    font-size: 36px;
    margin-bottom: 20px;
}
.assessment{
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    span{
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        &:last-child{
            border-right: none;
        }
    }
}
.description-movie{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    p{
        margin: 0;
        &:nth-child(n + 2){
            margin-top: 15px;
        }
    }
}
.assessment--mobile{
    display: none;
}
@media(max-width:900px){
.image-movie{
    img{
        width: 85%;
    }
}
}
@media(max-width:600px){
    .mobile-top{
        display: flex;
        justify-content: space-between;
    }
    .popup-content{
        overflow: auto;
        height: 100vh;
    }
    .image-movie{
        width: 48%;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    .assessment--mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        color: #fff;
        width: 48%;
        span{
            font-size: 18px;
        }
    }
    .info-movie{
        margin-top: 40px;
        .title-movie{
            font-size: 30px;
            padding-bottom: 10px;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .assessment{
            display: none;
        }
    }
}
</style>
