<template>
  <v-app>
    <app-header></app-header>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import AppHeader from './components/Header.vue'
/* import HelloWorld from './components/HelloWorld' */

export default {
  name: 'App',
  components: {
    AppHeader
    /* HelloWorld */
  },
  data () {
    return {
      //
    }
  }
}
</script>

<style lang="scss">
*{
  outline: none;
}
.v-content__wrap{
  position: relative;
}
.v-pagination__navigation, .v-pagination__item{
  height: 34px;
  margin: 0;
  border-radius: 0;
  border: 1px solid #eaeaea;
  box-shadow: none;
}
.v-pagination{
  li{
    &:first-child, &:last-child{
      button{
        width: 50px;
        z-index: 2;
        position: relative;
        &:before{
          position: absolute;
          z-index: 1;
        }
      }
    }
    &:first-child button:before{
      content: 'Prev';
    }
    &:last-child button:before{
      content: 'Next';
    }
  }
  button.v-pagination__item--active{
    color: #07d49d !important;
    border-color: #eaeaea !important;
  }
}
.v-pagination__navigation{
  &:first-type:before{
    content: 'Prev'
  }
  i{
    display: none;
  }
}
@media(max-width:380px){
.v-pagination li:first-child button, .v-pagination li:last-child button{
  width: 40px;
}
}
</style>
